{% trans_default_domain 'search' %}

<ul class="dropdown-menu show border-light container p-1 position-relative mb-3 z-index-1">

    {% if products %}
        {% set image_path = '/assets/img/blank.svg' %}
        {% for product in products %}

            {{ include(_self|replace({ "search-results.html.twig" : "search-card.html.twig" })) }}

        {% endfor %}

    {% else %}
        <div class="no-content">{{ 'search_results.noresults'|trans }}</div>
    {% endif %}

</ul>