{% trans_default_domain 'search' %}

{% if search_results %}
    {% for tag, search_result in search_results %}

        {# Подключить шаблон определенного модуля  #}
        {% include Template('@'~tag~':public/search/'~baks_settings.device~'/search-results.html.twig') %}

    {% endfor %}

{% else %}
    <div class="no-content">{{ 'search_results.noresults'|trans }}</div>
{% endif %}